include README.md
include README.zh.md
include LICENSE
recursive-include LICENSES *
recursive-include darkit *.cu
recursive-include darkit *.cpp
recursive-include darkit/core/web/build *
recursive-include darkit/tmp *
